/* DEBUG */
.lightblu{
  background-color: lightblue;
}

.arancio{
  background-color: orange;
}

.porpora{
  background-color: purple;
}

.viola{
  background-color: violet;
}

.font-large{
  font-size: 40px;
}

/* WRITING */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}

.mb-10{
  margin-bottom: 10px;
}
.mb-30{
  margin-bottom: 30px;
}

.pl-20{
  padding-left: 20px;
}

.pr-20{
  padding-right: 20px;
}

/* STYLE */
.container{
  width: 100%;
  height: 100vh;
  background-color: pink;
  overflow: hidden;
}

/* MAIN */
main{
  height: calc(100% - 90px);
  display: flex;
}
/* NAV */
.main-nav{
  width: 250px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-nav-top .main-nav-logo{
  width: 100%;
  padding: 20px;
}

.main-nav-top .main-nav-logo img{
  width: 65%;
}

.main-nav-top ul img{
  height: 30px;
  vertical-align: middle;
  margin-right: 5px;
}

/* PLAYLIST */
.main-nav-center h2{
  margin: 10px 0px;
  font-size: 15px;
  text-transform: uppercase;
}

.main-nav-center span{

}

.main-nav-center span::before{
  content: "+";
  font-size: 35px;
  background-color: rgba(255, 255, 255, 0.6);
  color: black;
  padding: 2px 12px;
  margin-right: 10px;
  vertical-align: middle;
}

.main-nav-playlist{
  flex-grow: 2;
  min-height: 100px;
  overflow-y: auto;
}

/* NAV BOTTOM */
.main-nav-bottom h3{
border-bottom: 1px solid grey;
}

/* CONTENT */
.main-content{
  width: calc(100% - 250px);
  height: 100%;
  padding-top: 90px;
  overflow-y: scroll;
}

.main-upgrade{
  width: calc(100% - 250px);
  height: 90px;
  position: fixed;
  top:0;
  right:0;
  z-index: 1;
  background-color: rgba(11, 11, 11, 0.52);
  text-align: right;
  padding-right: 20px;
  line-height: 90px;
}
.main-upgrade .btn {
  padding: 10px 25px;
  border-radius: 20px;
  border: 1px solid white;
}

.main-upgrade a.btn {
  color: white;
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
}

/* FOOTER */
footer{
  width: 100%;
  height: 90px;
  position: fixed;
  bottom:0;
  left: 0;
  background-color: grey;
}























































/* / */
